<link rel="stylesheet" href="/stylesheets/style.css">
<footer>
    <div class="footer">
        <h1 class="footerLogo"><i class="fas fa-car"></i> <a href="/cars">Car.sell</a></h1>
        <h1><u>Social media</u></h1>
        <i class="fab fa-instagram icons"></i>
        <i class="fab fa-facebook-f icons"></i>
        <i class="fab fa-twitter icons"></i>
        <i class="fab fa-linkedin-in icons"></i>
        <i class="fab fa-google-plus-g icons"></i>
        <br>
        <br>
        <div class="footerInfo">
            <h3><u>Jobs</u></h3>
            <h3><u>Legal</u></h3>
            <h3><u>Support</u></h3>
            <h3><u>Blog</u></h3>
            <h3><u>Contact</u></h3>
            <p>© Car Sell Inc.</p>
        </div>
        </div>
</footer>


<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
</body>
</html>