<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Car.sell</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <div class="menu-icon">
                    <i class="fa fa-bars fa-2x"></i>
                </div>
                <div class="logo">
                        <h1><i class="fas fa-car"></i> <a href="/cars">Car.sell</a></h1>
                </div>
                <div>
                    <ul>
                        <li><a href="/cars">Offers</a></li>
                        <li><a href="/cars/new">New Offer</a></li>
                        <li><a href="/">About</a></li>
                        <li><a href="/">Contact</a></li>
                    </ul>
                </div>
                <div class="motto">
                    <h1>We sell cars.<br>Simply.</h1>
                    <div class="offersBtn">
                        <h2>Our offers.</h2>
                    </div>
                </div>
                
            </nav>
            
        </header>
        <div class="scroll">

            </div>
    </div>
    <script src="/scripts/script.js"></script>
    